.button {
    display: inline-block;
    padding: 10px 70px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #0077cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.button:hover {
    background-color: #0069d9;
}
.redButton {
    background-color: #ff3333;
    margin: 0 auto;
}
.redButton:hover {
    background-color: #cc3333;
}
